body {
    text-align: center;
    background-image: url('https://i.postimg.cc/kXFd8v2Y/kaffee.jpg');
    font-family: sans-serif;
}
.title {
    font-size: xx-large;
    color: white;
}
.score {
    font-size: xx-large;
    color: white;
}
.div1 {
    height: 100px
}
.div2 {
    color: white;
}
button {
    margin-bottom: 10px;
}
.butspec1 {
    background-color: blueviolet;
    font-size: xx-large;
}
.butup1 {
    background-color: red;
    font-size: xx-large;
}
.butup2 {
    background-color: red;
    font-size: xx-large;
}
.butup3 {
    background-color: red;
    font-size: xx-large;
}
.butup4 {
    background-color: red;
    font-size: xx-large;
}
.butup5 {
    background-color: red;
    font-size: xx-large;
}
.butup6 {
    background-color: red;
    font-size: xx-large;
}
.butup7 {
    background-color: red;
    font-size: xx-large;
}
.butup8 {
    background-color: red;
    font-size: xx-large;
}
.loulouboss {
    background-color: red;
    font-size: xx-large;
}
