body {
    text-align: center;
}
.div1 {
    height: 100px;
    width: 200px;
}
button {
    margin-bottom: 10px;
}
.butup1 {
    background-color: red;
}
.butup2 {
    background-color: red;
}
.butup3 {
    background-color: red;
}